@media (max-width: 768px) {
    body {
        background-position: top;
    }

    main {
        padding: 20px;
    }
}

body{
    margin: 5px;
    min-height: 100vh;
    background-image: url("assets/bg_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    margin-top: 100px;
    color: black;
    text-align: center;
    padding: 40px 0;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    
}
.footer h2{
    margin-bottom: 20px;
}
.social_icon{
    height : 40px;
    width : 40px;
    margin : 0 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.social_icon:hover {
    transform: scale(1.1);            /*Slightly increases size (10%)*/
}