@media (max-width: 768px) {
    body {
        background-position: top;
    }

    main {
        padding: 20px;
    }
}

body{
    margin: 5px;
    min-height: 100vh;
    background-image: url("assets/bg_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
    
}